@use 'sass:color';
@import "../../scss/variables.scss";

.select {
  position: relative;
}

.display {
  font-size: 1.6rem;
  padding: 8px 12px;
  border: 1px solid $colorPrimary;
  border-radius: 8px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.list {
  position: absolute;
  right: 0;
  bottom: -10px;
  transform: translate(0, 100%);
  height: 200px;
  overflow: auto;
  background-color: $colorBackLight;
  border-radius: 8px;
  z-index: 1;
}

.option {
  font-size: 1.6rem;
  display: flex;
  gap: 8px;
  padding: 8px 12px;

  &:hover {
    background-color: color.scale($colorPrimary, $alpha: -95%);
    color: $colorPrimary;
  }
}

.key {
  text-transform: uppercase;
}
