.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2.4rem;
}

.p1 {
  font-size: 2rem;
}

.p2 {
  font-size: 1.8rem;
}

.p3 {
  font-size: 1.6rem;
}

.curr-code {
  text-transform: uppercase;
}

.tabular {
  font-variant-numeric: tabular-nums;
}
