@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.currency-block {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include mediaSmartphone {
    gap: 20px;
  }
}

.fields {
  display: flex;
  align-items: center;
  gap: 20px;

  @include mediaSmartphone {
    flex-direction: column;
    width: fit-content;
    align-self: center;
    gap: 12px;
  }
}

.input {
  all: unset;
  box-sizing: border-box;
  font-size: 1.6rem;
  padding: 8px 12px;
  border: 1px solid $colorPrimary;
  border-radius: 8px;
  max-width: 180px;
  text-align: right;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }

  @include mediaSmartphone {
    max-width: 100%;
  }
}

