.diagram-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.title {
  font-size: 3rem;
}

.message {
  font-size: 2rem;
}

.diagram {
  height: 320px;
  width: 320px;
}
