.main {
  padding: 40px 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.message {
  font-size: 2rem;
  text-align: center;
}

.loader-block {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.error-title {
  font-size: 3rem;
}

.error-text {
  font-size: 2rem;
}
